/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

.larger {
	font-size: 120%;
}

a { color: #00e; }
a:visited { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

h1 {
	font-size: 130%;
}

#container {
	margin: 0 1% 1% 1%;
}

.byvejr {
	display: none;
}
.byvejr.active {
	display: block;
}

.forecast-container {	
}
.forecast-container .forecast, .forecast-container .scroll-info {
	max-width: 100%;
	display: none;
}
.forecast-container.loaded .forecast, .forecast-container.loaded .scroll-info {
	display: block;
}
.forecast-container .activator {
	text-align: center;
	cursor: pointer;
}
.forecast-container .activator p {
	margin-top: -2em;
}
.forecast-container.loaded .activator {
	display: none;
}
.forecast-container.scrollable {
	max-width: 100%;
	overflow-x: auto;
}
.forecast-container.scrollable .forecast {
	max-width: none;
}
.forecast-container.scrollable .scroll-info {
	display: none;
}
.forecast-container .icon-cloud {
	font-size: 8em;
}

.forecast-container.loading .activator {
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;

	-ms-animation-name: loading;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;

	animation-name: loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

header {
	font-size: 150%;
}
.zipcode-selector input {
	font-size: inherit;
}
.zipcode {
	width: 5em;
}

.footer {
	margin-top: 2em;	
}

.top-menu  .link {
	float: right;
	margin-left: 1em;
}

/* Radar */
.radar .activator {
	cursor: pointer;
	line-height: 1;
	text-align: center;
}
.radar .activator p {
	margin: 0;
}
.radar.active .activator {
	display: none;
}
.icon-drizzle, .icon-basecloud {
	font-size: 14em;
}
.icon-basecloud {
	position: absolute;
}

.radar-img-container {
	max-width: 640px;
	position: relative;
	display: none;
}
.active .radar-img-container {
	display: block;
}

.radar-img-container img {
	max-width: 100%;
}

.radar-img-container .ended-container {
	display: none;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;	
}
.radar-img-container .restart {
	font-size: 120%;
	padding: 0.5em;
}

.radar-img-container.ended .ended-container {
	display: block;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: 	rotateY(0deg);
  }
  50% {
    -webkit-transform:	rotateY(180deg);
  }
  100% {
    -webkit-transform: 	rotateY(360deg);
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: 	rotateY(0deg);
  }
  50% {
    -moz-transform:		rotateY(180deg);
  }
  100% {
    -moz-transform: 	rotateY(360deg);
  }
}

@-ms-keyframes loading {
  0% {
    -ms-transform: 		rotateY(0deg);
  }
  50% {
    -ms-transform: 		rotateY(180deg);
  }
  100% {
    -ms-transform: 		rotateY(360deg);
  }
}

@keyframes loading {
  0% {
    transform: 			rotateY(0deg);
  }
  50% {
    transform: 			rotateY(180deg);
  }
  100% {
    transform: 			rotateY(360deg);
  }
}

.city-list {
	margin: 0;
	padding: 0;
	font-size: 140%;
}

.city-list li {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 1em;
}

.city-list .other-cities {
	width: 85%;
}

.city-list a {
	display: block;
	padding: 1em;
	border: 1px solid #BBB;
	text-align: center;
}

.mypos-link { display: none; }

.redirect-note {
	padding: 1em;
	background-color: #E9D66B;
	line-height: 1.5;
}

/* Forecast font */
@font-face {
  font-family: "iconvault";
  src: url("fonts/iconvault_forecastfont.eot");
  src: url("fonts/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/iconvault_forecastfont.woff") format("woff"),
       url("fonts/iconvault_forecastfont.ttf") format("truetype"),
       url("fonts/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}


.icon-night:before,
.icon-sunny:before,
.icon-frosty:before,
.icon-windysnow:before,
.icon-showers:before,
.icon-basecloud:before,
.icon-cloud:before,
.icon-rainy:before,
.icon-mist:before,
.icon-windysnowcloud:before,
.icon-drizzle:before,
.icon-snowy:before,
.icon-sleet:before,
.icon-moon:before,
.icon-windyrain:before,
.icon-hail:before,
.icon-sunset:before,
.icon-windyraincloud:before,
.icon-sunrise:before,
.icon-sun:before,
.icon-thunder:before,
.icon-windy:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-night:before { content: "\f100"; }
.icon-sunny:before { content: "\f101"; }
.icon-frosty:before { content: "\f102"; }
.icon-windysnow:before { content: "\f103"; }
.icon-showers:before { content: "\f104"; }
.icon-basecloud:before { content: "\f105"; }
.icon-cloud:before { content: "\f106"; }
.icon-rainy:before { content: "\f107"; }
.icon-mist:before { content: "\f108"; }
.icon-windysnowcloud:before { content: "\f109"; }
.icon-drizzle:before { content: "\f10a"; }
.icon-snowy:before { content: "\f10b"; }
.icon-sleet:before { content: "\f10c"; }
.icon-moon:before { content: "\f10d"; }
.icon-windyrain:before { content: "\f10e"; }
.icon-hail:before { content: "\f10f"; }
.icon-sunset:before { content: "\f110"; }
.icon-windyraincloud:before { content: "\f111"; }
.icon-sunrise:before { content: "\f112"; }
.icon-sun:before { content: "\f113"; }
.icon-thunder:before { content: "\f114"; }
.icon-windy:before { content: "\f115"; }