/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

.larger {
	font-size: 120%;
}

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

h1 {
	font-size: 130%;
}

#container {
	margin: 0 1% 150px 1%;
}

.byvejr {
	display: none;
}
.byvejr.active {
	display: block;
}
.forecast-container {	
}
.forecast-container .forecast, .forecast-container .scroll-info {
	max-width: 100%;
	display: none;
}
.forecast-container.loaded .forecast, .forecast-container.loaded .scroll-info {
	display: block;
}
.forecast-container.loading .loader {	
	display: block;
}
.forecast-container .loader {
	font-size: 200%;
	display: none;
	text-align: center;
}
.forecast-container .activator {
	padding: 1em;
}
.forecast-container.loaded .activator {
	display: none;
}
.forecast-container.scrollable {
	max-width: 100%;
	overflow-x: auto;
}
.forecast-container.scrollable .forecast {
	max-width: none;
}
.forecast-container.scrollable .scroll-info {
	display: none;
}

header {
	font-size: 150%;
}
.zipcode-selector input {
	font-size: inherit;
}
.zipcode {
	width: 5em;
}

.footer {	
}

.top-menu  .link {
	float: right;
	margin-left: 1em;
}
.radar {
	display: none;
}
.radar.active {
	display: block;
}
.radar img {
	max-width: 100%;
}

.city-list {
	margin: 0;
	padding: 0;
	font-size: 140%;
}

.city-list li {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 1em;
}

.city-list .other-cities {
	width: 85%;
}

.city-list a {
	display: block;
	padding: 1em;
	border: 1px solid #BBB;
	text-align: center;
}

.mypos-link { display: none; }

