.forecasts {
  display: none;

  .loaded & {
    display: block;
  }
}

.loaded .help-text, .loading .help-text {
  display: none;
}

.forecast-container {
  position: relative;
  // Zooom icon
  &::after {
    position: absolute;
    bottom: 2%;
    left: 1%;
    content: "\1f50d"; // LEFT-POINTING MAGNIFYING GLASS
    font-weight: lighter;
    pointer-events: none; // Disable "highjacking" of click events
  }

  .forecast {
    max-width: 100%;
    transition: max-width .5s ease;
  }

  &.scrollable {
    overflow-x: auto;
    overflow-y: hidden;

    .forecast {
      max-width: 850px; // Allow full width of forecast image
    }

    &::after {
      display: none; // Hide zoom icon
    }
  }

  &.unavailable { // Yr.no forecast can be unavailable
    opacity: 0.5;

    &::after {
      content: "\1F6AB"; // Unavailable icon
      color: red;
      display: none;
    }

    h3 {
      text-decoration: line-through;
    }
  }
  // A lazy loaded forecast will only be displayed after click by user
  &.lazy-load {
    cursor: pointer;

    .forecast {
      display: none;
    }

    &.loaded {
      .forecast { // Show forecast image
        display: block;
      }
    }
  }

  &.pollen-forecast:not(.loaded) {
    // A clickable flower icon
    &::after {
      content: "\1F33B"; // Sunflower
      font-size: 3rem;
      position: static;
      text-align: center;
      display: block;
    }
  }
}

.loader {
  text-align: center;
  display: none;

  .loading & {
    display: block; // Display loader
  }

  &:after {
    content: "\231B"; // Hour glass
    display: block;
    font-size: 5rem;
  }
}
