.radar-img-container {
  max-width: 640px;
  position: relative;

  img {
    max-width: 100%;
  }

  &.ended:after, &.paused:after {
    content: "\25B6"; // Play character
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    opacity: 0.5;
  }

  &.paused:after {
    content: "Pause";
    font-size: 2rem;
    top: 45%;
  }
}

.radar.loading {

  &:before {
    content: "Indlæser radarbilleder";
    display: block;
    text-align: center;
  }

  &:after {
    content: "\231B";
    display: block;
    text-align: center;
    font-size: 5rem;
  }

  .radar-img-container, .radar-info {
    display: none;
  }
}
