
.radar-img-container {
  max-width: 640px;
  position: relative;

  img {
    max-width: 100%;
  }

  .ended-container {
    display: none;
    position: absolute;
    left: 1rem;
    bottom: 3px;
    font-size: 12px;
  }

  &.endend .ended-container {
    display: block;
  }
}
