.pages-viewport {
  overflow: hidden;
}

.pages {
  overflow: hidden;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 300%;
}

.page {
  overflow: hidden;
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  padding: 0 1rem;
}
